[submodule "external/beast"]
	path = external/beast
	url = https://github.com/boostorg/beast
[submodule "external/asio"]
	path = external/asio
	url = https://github.com/boostorg/asio
[submodule "external/config"]
	path = external/config
	url = https://github.com/boostorg/config
[submodule "external/core"]
	path = external/core
	url = https://github.com/boostorg/core
[submodule "external/system"]
	path = external/system
	url = https://github.com/boostorg/system
[submodule "external/static_assert"]
	path = external/static_assert
	url = https://github.com/boostorg/static_assert
[submodule "external/utility"]
	path = external/utility
	url = https://github.com/boostorg/utility
[submodule "external/throw_exception"]
	path = external/throw_exception
	url = https://github.com/boostorg/throw_exception
